<!-- Footer-->
<footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
            <p class="m-0 text-center text-white">회사명</p>
            <p class="m-0 text-center text-white">회사주소: 00시 00로 00길 0000 | 사업자번호: 12345-567890</p>
            <p class="m-0 text-center text-white">전화번호: 010-1234-5678 | 이메일: kim123@abcd.com</p>
            <p class="m-0 text-center text-white">대표자: 김나박</p>
        </div>
    </footer>
